
a{
  text-decoration: none;
}
.tds-icon{
  width: 120px;
}
.logo{
  fill: white;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-navbar{
  display: flex;
}
.middle-navbar h4{
  color: white;
}
.middle-navbar a{
  padding: 0px 10px;
  color: black;
  text-decoration: none;
}
.nav-link{
  font-size: 20px;
  font-weight: bold;
}
.right-navbar{
  display: flex;
}
i{
  font-size: 30px;
  color: white;
}
.btn-close{
  margin: auto;
}
.video, 
.image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.home-section{
  height: 100vh;
}

.home-items,
.home-hero{ 
    position: absolute;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin-left: 26%;
    text-align: center;
  }

.home-btn button{
  padding: 10px 100px;
  border-radius: 10px;
  margin-left: 40px;
  border: none;
  position: relative;
  white-space: nowrap;
  right: 6%;
}
.home-section-btn{
  position: relative;
  top: 25%;
}
.down-arrow img{
  width: 50px;
  position: relative;
  bottom: 70%;
  left: -40%;
  animation: animateDown infinite 1.5s;
}

@keyframes animateDown{
  0%, 20%, 50%, 80%, 100%{
    transform: translateY(0px)
  }
  40%{
    transform: translateY(8px)
  }
  60%{
    transform: translateY(5px)
  }
}

.home-btn button:nth-child(1){
  background-color: rgba(34, 34, 34, 0.8);
  color: white;
}

.home-btn button:nth-child(2){
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
}
.car-model{
  margin-left: 15%;
}
.car-model-3{
  margin-left: 26%;
}

.car-model-video-bottom  {
  width: 70vw;
  font-weight: 600;
  font-size: 20px;
  justify-content: space-between;
}
.car-model-video-bottom-model-3{
  width: 30vw;
  margin-left: 100px;
  justify-content: space-between;
}

.home-btn-model-3 button{
  padding: 10px 90px;
  border-radius: 10px;
  border: none;
}
.home-btn-model-3 button:nth-child(2){
  background-color: transparent;
  border: 3px solid white;
  color: white;
  padding: 9px 100px;
}
.car-model-video-bottom .home-btn button {
  padding: 16px 100px;
  color: black;
  background-color: white;
  font-weight: 600;
}

.car-model-images img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  
}
.model-y-section-3 img{
  height: 100vh;
}
.video-2{
  height: 100vh;
  width: 70vw;
  object-fit: cover;
}
.video-2-text{
  position: absolute;
  transform: translateY(-170%);
  display: flex;
  width: 50vw;
  text-align: center;
  margin-left: 150px;
  color: white;
  padding: 0px ;
}
.section-2-header-image{
  margin-left: 10%;
}
.section-2-header-image img{
  height: 100vh;
  width: 80%;
  border-radius: 10px;
  object-fit: cover;
}
.section-2-text{
  margin-right: 400px;
  font-size: 25px;
}
.section-2-model-3-header-image{
  margin-left: 5%;
  margin-top: 50px;
}
.section-2-model-3-header-image img{
  height: 100vh;
  width: 92%;
  border-radius: 10px;
  object-fit: cover;
}

.model-y-section-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-3-header{
  height: 100vh;
}
.model-3-section-3-header{
  position: relative;
}
.model-3-section-3{
  height: 90vh;

}
.model-3-section-3-text{
  justify-content: center;
  position: absolute;
  bottom: 25%;
  color: white;
  width: 100%;
}
.model-3-section-4{
  margin-left: 150px;
  display: flex;
}
.model-3-section-4-btn{
  display: flex;
}
.model-y-section-4{
  margin-left: 250px;
  display: flex; 
}
.model-3-section-4-btn button{
  padding: 10px 0px;
  border: none;
  border-radius: 8px;
  width: 250px; 
}
.model-3-section-4-text{
  width: 46%; 
  margin-left: 200px;
}
.model-y-section-4-header img,
.model-3-section-3-header img{
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
.model-y-section-4-btn{
  display: flex;
}
.model-y-section-4-btn button{
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 250px; 
}
.model-y-section-4-btn button:nth-child(1){
  border: 3px solid black;
  background-color: white;
  margin-right: 20px;
}
.model-y-section-4-text{
  width: 48%;
  margin-top: 20px;
  margin-left: 30px;
}
.model-y-btn{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  
}
.model-y-btn button{
  padding: 10px ;
  border: none;
  border-radius: 8px;
  width: 300px; 
}
.model-y-btn button:nth-child(1){
  border: 3px solid black;
  background-color: white;
  
}
.section-3{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px; 
  
}
.section-3 img{
  width: 540px;
}

.section-3-text {
  margin: auto;
}
.product-header{
  color: white; 
  justify-content: center;
  height: 100vh;
  background-color: black;

}
.product{
  width: 400px;
  display: flex;
  text-align: center;
  
}

.product-card{
  width: 350px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 0 7px 1px 
}
.product img{
  width: 300px;
  height:250px;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0 0px 7px 1px 
}
.product img:hover{
  transform: scale(1.03);
}
.product button{
  padding: 8px;
  width: 200px;
  border-radius: 100px;
  transition: 0.5s;
  cursor: pointer;
  background-color: black;
  color: white;
  box-shadow: 1px 1px 5px 1px 
}
.product button:hover{ 
  color: white;
  background-color: white;
  transform: scale(1.03);
  color: black;
}
.cart-section{
  background:  black;
  height: 100vh;
  color: white;
}
.cart-header {
  margin-left: 150px;
  padding-top: 50px;
  
}
.cart-header h2{
  font-weight: 400;
}
.cart-header-text{
  margin-left: 200px;
  margin-top: 30px;
  color: rgb(199, 199, 199);;
}
.cart-header-text button{
  padding: 8px 70px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(199, 199, 199);
  border-radius: 5px;
  transition: 0.5s;
}

.btn-pay button{
  padding: 8px 70px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(199, 199, 199);
  border-radius: 5px;
  transition: 0.5s;
  position: absolute;
  right: 0;
  margin-right: 50px;
}

.cart-header-text button:hover{
  background-color: gray;
  
}
.btn-pay button:hover{
  background-color: gray;
}
.cart-count{
  margin-left: -45px;
  margin-top: -10px;
  color: white;
  padding-left: 7px;
  height: 25px;
  width: 25px;
  background-color: rgb(240, 10, 10);
  border-radius: 50%

  
}
.cart-items-header {
  background-color: black;
  height: 110vh;
  color: white;
}
.aaa{
  height: 100vh;
}
.cart-items-header h2{
  text-align: center;
  padding-top: 70px;
  font-weight: 400;
}

.cart-card{
  display: flex;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.cart-card:hover{
  transform: scale(1.02);
}
.cart-card-details{
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.cart-card-details i{
  color: white;
}
.cart-card h1 {
  margin: auto;
}
.cart-card h5 {
  margin: auto;
}
.cart-card img{
  width: 200px;
  border-radius: 5px;
  height: 100px;
  object-fit: cover;
  margin: auto;
}

.cart-card i {
  margin: auto;
  margin-right: 10px;
  transition: 0.5s;
}
.cart-card i:hover{
  color: red;
 
}
.total-amount{
  margin-right: 70px;
  margin-bottom: 30px;
  justify-content: end;
}
@media (max-width:767px) {
  .home-hero,
  .home-items {
    margin-left: 0%;

  }
  .home-btn button:nth-child(1){
    margin-left: 35px;
  }
  .home-btn button{
    margin-left: 35px;
  }

  .middle-navbar{
    display: none;
  }

  .home-btn button:nth-child(2){
    margin-top: 15px;
   
  }
  .down-arrow{
    margin-left: 40px;
    margin-top: 20px;
  }
  .down-arrow img{
    bottom: 30%;
  }
  .model-3-section-4{
    flex-direction: column;
    margin-left: 0;
  }
  .model-3-section-4-text{
    margin-left: 0;
    width: 100%;
  }
  .model-3-section-4 h2{
    text-align: center;
  }
  .model-3-section-4-btn{
    margin-left: 75px;
    margin-bottom: 40px;
  }
  .car-model-video-bottom-model-3{
    margin-left: 15px;
    width: 90%;
  }
  .home-btn-model-3 button:nth-child(2){
    margin-top: 15px;
  }
  .model-x-section-3-header{
    flex-direction: column;
  }
  .section-2-model-3-header-image {
    margin-left: 0;
  }
  .section-2-model-3-header-image img{
    width: 100%;
  }
  .model-x-section-3-header img{
    width: 100%;
  }
  .model-x-section-3-header-2 img{
    margin-top: 10px;
    width: 100%;
  }
  .model-x-section-3-header-2{
    flex-direction: column-reverse;
  }
  .section-3-text{
    margin-top: 30px;
  }
  .car-model-video-bottom{
    margin-left: 20px;
    width: 90%;
    flex-wrap: wrap;
    
  }
  .car-model-video-bottom h3,
  .car-model-video-bottom p{
    font-size: 15px;
  }
  .car-model-video-bottom button{
    margin-top: 10px;
  } 
  .car-model-video-bottom div:nth-child(4){
    display: none;
  }
  .section-2-header-image{
    margin-left: 0;
  }
  .section-2-header-image img{
    width: 100%; 
  }
  .section-2-text{
    margin-right: 0;
  }
  .section-3-model-y-section{
    flex-direction: column;
  }
  .video-2{
    width: 100%;
  }
  .video-2-text{
     margin-left: 25px;
    
  }
  .video-2-text p {
    display: none;
  }
  .model-y-section-4{
    flex-direction: column;
    margin-left: 0;
    
  }
  .home-btn-model-y {
    margin-left: 0px;   
    
  }
  .model-y-section-4 h5,
  .model-y-section-4 h1{
    margin-left: 30px;
  }
  .model-y-section-4-text{
    width: 90%;
    margin-top: 0;
  }
  .model-y-section-4-btn{
    position: absolute;
    display: block;
    top: 330%;
    margin-left: 30px;
    
  }
  .model-y-section-4-btn button{
    width: 300px;
    text-align: center;
    white-space: nowrap;
  }
  .model-y-section-4-btn button:nth-child(1){
    margin-bottom: 20px;
  }
  .model-y-section-4-btn button:nth-child(2){
    margin-bottom: 30px;
  }
  .cart-header{
    margin-left: 50px;
  }
  .cart-items-header h2{
    padding-top: 20px;
    
  }
  .cart-header-text{
    margin-left: 50px;
  }
  .cart-header-text button{
   white-space: nowrap;
   width: 250px;
   padding: 10px 30px;
  }
  .cart-card-details{
    flex-wrap: wrap;
  }
  .cart-card img{
    width: 100px;

  }
  .product-header{
    height: 100%;
    padding-top: 40px;
    flex-direction: column;
  }

  .product{
    width: 300px;
    margin: auto;
  }
  .product-card{
    width: 250px;
    height: 300px;
    margin-top: 50px;
  }
  .product img{
    width: 200px;
    height: 120px;
  }
 
  .product:nth-child(3){
    margin-bottom: 50px;
  }
}
@media (max-width:768px) and (min-width:768px){
  .home-hero,
  .home-items {
    margin-left: 8%;
  }
  .down-arrow img{
    bottom: 20%;
  }
  .car-model-video-bottom-model-3{
    width: 70%;
  }
  .model-3-section-4{
    margin-left: 40px;
  }
  .model-3-section-4-text{
    margin-left: 60px;
  }
  .model-3-section-3-text{
    margin-bottom: 30px;
  }
  .car-model{
    margin-left:30px;
  }
  .car-model-video-bottom{
    width: 100%;
  }
  
  .model-x-section-3-header img{
    width: 77%;
  }
 
  .model-x-section-3-header-2 img{
    width: 78%;
    margin-left: 160px;
  }
  .car-model-y{
    margin-left: 10px
  }
  .section-2-text{
    margin-right: 170px;
  }
  .section-3-model-y-section{
  flex-direction: column;
 }
 .video-2{
  width: 100vw;
 }
  .video-2-text{
    margin-top: 80px;
    margin-left: 30px;
    width: 90vw;
  }
  .model-y-btn{
    flex-direction: row;
  }
  .model-y-btn button:nth-child(2){
    margin-left: 30px;
    height: 51px;
  }
  .model-y-section-4{
    margin-left: 10px;
  }
  .model-y-section-4-btn button{
    width: 200px;
  }
  .product{
    width: 230px;
    margin: auto;
  }
  .product-card{ 
    margin-top: 50px;
  }
  .product img{
    width: 180px;
    height: 200px;
  }
  .cart-items-header{
    height: 170vh;
  }
}

@media (max-width:1024px) and (min-width:1024px) {
  
  .home-hero,
  .home-items {
    margin-left: 20%;
  }
  .model-x-section-3-header img{
    width: 80%;
  }
  .model-x-section-3-header-2 img{
    width: 80%;
    margin-left: 160px;
  }
  .section-3-text{
    width: 70%;
  }
  .video-2-text{
    margin-top: 120px;
    margin-left: 60px;
  }
  .video-2{
    width: 60vw;
  }
  .section-2-text{  
    margin-right: 180px;
  }
  .model-y-section-4{
    margin-left: 30px;
  }
  .product{
    width: 300px;
    margin: auto;
  }
  .product-card{ 
    margin-top: 50px;
  }
  .product img{
    width: 250px;
  }
  .cart-items-header{
    height: 150vh;
  }
}